
<footer>
    <section class="container-ftr">
        <div class="first-ftr">
            <div class="ftr-box1 ftr-box">
                <div class="box-logo-ftr">
                    <a href="index.html" class="box-logo-ftr-a">
                        <img src="../img/Logo_da_Gerencial_Informática-removebg-preview.png" alt="Logo Gerencial Informática" class="logo-ftr">
                    </a>
                    </div>
                <div class="box-horario-ftr">
                    <p><strong>Horário de atendimento:</strong></p>
                    <p>Seg. a Sex. das 7:30h às 18h</p>
                    <p>Sábado das 8h às 12h</p>
                </div>
            </div>
            <div class="ftr-box2 ftr-box">
                <h3>Contato</h3>
                <p><strong>Email:</strong><br>francisco@gerencialinfo.com.br</p>
                <p><strong>Contato:</strong><br>(67)3316-0200 <br>(67)98119-0011</p>
                <p><strong>Endereço:</strong><br>Rua Treze de Junho, 38, Centro</p>
            </div>
            <div class="ftr-box3 ftr-box">
                <h3>Mapa do site</h3>
                <a href="index.html" class="ftr-box-3-a">
                    <p><strong>Início</strong></p>
                </a>
                <a href="index.html" class="ftr-box-3-a">
                    <p><strong>Albatroz</strong></p>
                </a>
                <a href="index.html" class="ftr-box-3-a">
                    <p><strong>Serviços</strong></p>
                </a>
                <a href="index.html" class="ftr-box-3-a">
                    <p><strong>Contato</strong></p>
                </a>

            </div>
            <div class="ftr-box4 ftr-box">
                <h3 id="h3-redes">Redes Sociais</h3>
                <div class="box-redes">
                    <a href="https://www.linkedin.com/company/gerencialinformatica" class="logo-rede-a">
                        <img src="../img/logo-linkedin.png" alt="Logo do Linkedin" class="logo-rede">
                    </a>
                    <a href="https://www.facebook.com/Gerencial.Informatica.CG" class="logo-rede-a">
                        <img src="../img/logoFacebook.png" alt="Logo do Facebook" class="logo-rede">
                    </a>
                    <a href="https://www.youtube.com/@gerencialinformatica1963" class="logo-rede-a">
                        <img src="../img/logoYoutube.png" alt="Logo do Youtube" class="logo-rede">
                    </a>
                </div>
            </div>
        </div>
        <div class="copy">
            <p>2025 © Gerencial Informática. Todos os direitos reservados. </p>
        </div>
    </section>
</footer>
