
header{
    font-family: Staatliches, sans-serif;
    background-color: white;
    padding-block: 20px;
    height: 7vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 10px;
    display: flex;
    justify-content: center;
    text-decoration: none; 

}
.pai-box{
    display: flex;
    justify-content: center;
    & .hdr-box-logo{
        width: 11vw;
        height: auto;
        transition: transform 0.4s ease, color 0.3s ease;
        & .hdr-a-logo{
            width: 100%;
            & #hdr-img-logo{
                width: 100%;
            }
        }
    }
    .hdr-nav {
        display: flex;
        & .hdr-ul {
            display: flex;
            align-items: center;
            gap: 3vw;
            transform: scale(1);
            /* font-size: 1.52vw; */
            font-size: 1.32vw;
            letter-spacing: 2px;
            color: rgb(31 62 119);
            
            & .itens-a{
                transition: transform 0.4s ease, color 0.3s ease;
                color: #1e3b73;
            }
            & .itens-a:hover {
                transform: scale(1.05);
                color: #ffca16;
            }
            & .hdr-box-logo:hover{
                transform: scale(1.08);
            }
        }
    }
    
}
@media screen and (max-width: 1440px){
    .hdr-box-logo{
        width: 10vw;
    }
}
