<section class="pai-box">
	<nav class="hdr-nav">
		<ul class="hdr-ul">
			<a href="../index.html" class="itens-a">
				<li class="hdr-li">Início</li>
			</a>
			<a href="../albaFunc.html" class="itens-a">
				<li class="hdr-li">Sistema Albatroz</li>
			</a>
			<a href="../index.html#gerencial-info" class="itens-a">
				<li class="hdr-li">Serviços</li>
			</a>
			<div class="hdr-box-logo">
				<a href="page.html" class="hdr-a-logo">
					<img
						src="img/Logo_da_Gerencial_Informática-removebg-preview.png"
						alt=""
						id="hdr-img-logo"
					/>
				</a>
			</div>
			<a href="../index.html" class="itens-a">
				<li class="hdr-li">Endereço</li>
			</a>
			<a href="../index.html" class="itens-a">
				<li class="hdr-li">Contato</li>
			</a>
			<a href="../index.html" class="itens-a">
				<li class="hdr-li">Quem Somos</li>
			</a>
		</ul>
	</nav>
	<div id="box-btn-hamburguer">
		<button id="btn-hamburguer">
			<div></div>
			<div></div>
			<div></div>
		</button>
		menu
	</div>
</section>
