<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="template-loader.js"></script>
    <link rel="stylesheet" href="footer-template-css.css">
    <link rel="stylesheet" href="header-template-css.css">
    <title>Pagina Teste</title>
</head>
<body>
    <style>
        .tst{background-color: rgb(122, 102, 102);}
    </style>
    <header id="header"></header>
    <div class="tst">
        <h1  style="height: 200px;">entre os dois</h1>
    </div>
    <footer id="footer"></footer>
</body>
</html>